<div class="col-md-4 bg-body-secondary">
    <h5 class="card-title m-3">
        Mon compte
    </h5>
    <nav class="nav flex-column">
        <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">
            Me déconnecter
        </a>
        <a class="nav-link" href="{{ path('app_account_modify_pwd') }}">
            Modiffier mon mot de passe
        </a>
        <a class="nav-link" href="{{ path('app_account_address') }}">
            Mes adresses
        </a>
        <a class="nav-link" href="">
            Mes commandes
        </a>
    </nav>
</div>
