{% extends 'base.html.twig' %}
{% block body %}
    <div class="container my-5">
        <h1>
            Espace membre
        </h1>
        <div class="row g-0 my-5">
            {% include 'account/_menu.html.twig' %}
            <div class="col-md-8">
                <h5 class="card-title m-3">
                    Mes adresses
                </h5>
                <div class="card-body  p-3">
                    <a type="button" class="btn btn-dark" href="{{ path('app_account_address_form') }}">
                        Ajouter une adresse
                        <i data-feather="plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}