###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
APP_DEBUG=1
###< symfony/framework-bundle ###

###> doctrine ###
DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name"
###< doctrine ###

###> mailer ###
MAILER_DSN=
MAILJET_API_KEY=
MAILJET_API_SECRET=
###< mailer ###

###> stripe ###
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
###< stripe ###
