### Symfony ###
/.env
/.env.local
/.env.*.local
/.env.local.php

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/node_modules/

### PHPUnit ###
/phpunit.xml
.phpunit.result.cache

### PHPStan ###
/phpstan.neon
