 .form-logo,
 .error-logo {
     margin-bottom: 30px;
     max-height: 80px;
     margin: auto;
 }

 /* .btn-success {
    background-color: #26846e;
    border-color: #26846e;
} */

 .btn-success {
     background-color: #739053;
     border-color: #739053;
 }

 .btn-success:hover {
     background-color: #5e7637;
     /* background-color: #5b8447; */
     border-color: #5b8447;
 }