 .form-logo,
 .error-logo {
     margin-bottom: 30px;
     max-height: 80px;
     margin: auto;
 }

 .btn-success {
     background-color: #628d6b;
     border-color: #577c6b;
 }

 .btn-success:hover {
     background-color: #577c6b;
     /* background-color: #5b8447; */
     border-color: #577c6b;
 }